<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          <%- site.name %>
        </title>
        <meta name="description" content="{{ site.summary_as_plain_text }}">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width">
        <!-- syntax highlighting CSS -->
     	  <%- css('css/toomanynames_base') %> 
    </head>
    <body>
    <%- body %> 
    </body>
</html>
