@import '_variables'
*
  margin: 0

.l-text-align-right
  text-align: right
  display: block
p
  margin: 1em 0
  line-height: 1.635em
h1, h2
  font-weight: 300
  text-align: center
h1
  font-size: 1.82em
  margin-bottom: 1em
  font-family: $serif-font
  font-weight: 300
  a
    text-decoration: none
    color: $teal
  a:hover
    color: $teal
h2
  font-size: 120%
  color: $dark-gray
  margin: 2.2em 0em
  a
    text-decoration: none
    color: $dark-gray
.meta
  color: $light-gray
  text-align: center
  display: block
  font-family: $serif-font
  font-weight: 300
  font-size: 0.9em
/*code block styling */
code
  font-size: 0.78em
body
  font: 23.6px Cardo, Georgia, Cambria, "Times New Roman", Times, serif
  @media screen and (max-width: $break-small)
    font-size: 17.6px
  color: $black
  background-color: white
  overflow: initial
  overflow-x: hidden
  text-align: left
  width: 100%
  @media screen and (max-width: $break-medium)
    width: 100%
  #container
    width: 35.46em
    margin: auto
    @media screen and (max-width: $break-medium)
      width: 90%
      padding-left: 4%
      padding-right: 4%
  .read-more
    text-decoration: none
    display: inline-block
    padding: 0.3em
    border-radius: 0.2em
    background-color: $teal
    color: white
    transition: color 1s
    -webkit-transition: color 1s
  .read-more:hover
    color: $beige
    transition: color 1s
    -webkit-transition: color 1s
  .read-more-container
    text-align: right
    margin-bottom: 2em
.post-abstract
  h1
    font-size: 1.5em
.post
  a
    text-decoration: none
    color: $black
    border-bottom: 1px dashed $black
    transition: color 0.5s
    -webkit-transition: color 0.5s
  a:hover
    color: $gray
    border-bottom: 1px dashed $gray
    transition: color 0.5s
    -webkit-transition: color 0.5s

@import "_partial/navigation"
@import "_partial/social_icons"