<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<ul class="social-icons">
	<li class="social-icon">
		<a class="link" href="https://twitter.com/anirudh_eka"><i class="fa fa-twitter"></i></a>
	</li>
	<li class="social-icon">
		<a class="link" href="https://github.com/anirudh-eka"><i class="fa fa-github"></i></a>
	</li>
</ul>